<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles/globals.css">
	<link rel="stylesheet" href="/styles/courses.css">
	<script defer src="/scripts/components/GlobalNav.js"></script>
	<script defer src="/scripts/components/Login.js"></script>
	<script defer src="/scripts/components/CourseSelect.js"></script>
	<script type="module" src="/scripts/courses.js"></script>
</head>

<body>
	<header>
		<nav class="top-nav">
			<global-nav></global-nav>
			<log-in class="log-in"></log-in>
		</nav>
	</header>
	<main class="flex-3col">
		<aside class="sidebar">
			<h4>Sidebar</h4>
			<ul>
				<li><a href="">Course organizer</a></li>
				<li><a href="">Priority Graph</a></li>
				<li><a href="">Articles</a></li>
			</ul>
		</aside>

		<section class="course-organizer">
			<div class="main-header">
			<h2>Add your <em class="gradient-text">courses</em></h2>
			<course-select></course-select>
			</div>
			<div class="card-container"></div>
		</section>
		<aside class="side-articles">
			<article>
				<h4>Article listing ways to prioritize assignments and exams.</h4>Lorem ipsum dolor sit amet consectetur
				adipisicing elit. Qui aspernatur eveniet vitae aliquam
				repudiandae esse unde autem exercitationem nemo. Id debitis laudantium error rem autem suscipit vitae
				fuga facilis, quo illo inventore mollitia unde obcaecati provident esse et veritatis deserunt quasi,
				laboriosam blanditiis ipsa harum fugiat rerum quidem! Aliquam voluptatum nihil perspiciatis sint,
				aperiam consequuntur nisi quidem quo iusto dicta quas? Rem, debitis deleniti incidunt eius officia
				tempore, porro atque asperiores nostrum architecto molestias quos vel doloremque ducimus animi quidem
				sit soluta optio quasi magnam maiores? Sequi a corporis dolore optio. Minima, molestiae ratione? Optio
				quas magni ducimus facere soluta?
			</article>
		</aside>
	</main>
	<footer>
		<nav><global-nav></global-nav></nav>
	</footer>
</body>

</html>