<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Course View</title>
	<link rel="stylesheet" href="../styles/globals.css">
	<link rel="stylesheet" href="../styles/courses.css">
	<script defer src="../scripts/components/GlobalNav.js"></script>
	<script defer src="../scripts/components/GlobalLogin.js"></script>
	<script defer src="../scripts/components/CourseSelect.js"></script>
	<script defer src="../scripts/components/AssignmentForm.js"></script>
	<script type="module" src="../scripts/courses.js"></script>
</head>

<body>
	<header>
		<nav class="top-nav">
			<global-nav></global-nav>
			<global-login class="global-login"></global-login>
		</nav>
	</header>
	<main class="flex-3col">
		<aside class="sidebar">
			<h4>Sidebar</h4>
			<div class="line black"></div>
			<h5>Links</h5>
			<ul>
				<li><a href="">Course organizer</a></li>
				<li><a href="">Priority Graph</a></li>
				<li><a href="">Articles</a></li>
			</ul>
			<div class="line black"></div>
			<h5>Due soon</h5>
			<ul class="due-soon">
				<li class="bg-primary--faded"  >Assignment 1 <small>2 days</small></li>
				<li class="bg-primary--faded"  >Assignment 2 <small>6 days</small></li>
				<li class="bg-secondary--faded">Assignment 3 <small>11/28</small></li>
				<li class="bg-secondary--faded">Assignment 4 <small>12/8</small></li>
				<li class="bg-secondary--faded">Assignment 5 <small>1/8</small></li>
			</ul>
		</aside>

		<section class="course-organizer">
			<div class="courses-header">
				<h2 id="login-hint" class="no-wrap">Log in to add your <em class="gradient-text">courses</em></h2>
			</div>
			<div class="line"></div>
			<dialog id="course-inputs">
				<form method="dialog" class="course-form modal-content">
					<course-select></course-select>
					<assignment-form></assignment-form>
					<button type="submit" class="button-primary">Submit</button>
				</form>
			</dialog>
			<div class="card-container">
				<button id="add-course" class="card raise inactive">
					<i class="fa fa-plus-square"></i>
				</button>
			</div>
			<div id="graph-container"></div>
		</section>
		<aside class="side-articles">
			<h4>Featured Article</h4>
			<div class="line black"></div>
			<article>
				<h5>Article listing ways to prioritize assignments and exams.</h5>
				Lorem ipsum dolor sit amet consectetur
				adipisicing elit. Qui aspernatur eveniet vitae aliquam
				repudiandae esse unde autem exercitationem nemo. Id debitis laudantium error rem autem suscipit vitae
				fuga facilis, quo illo inventore mollitia unde obcaecati provident esse et veritatis deserunt quasi,
				laboriosam blanditiis ipsa harum fugiat rerum quidem! Aliquam voluptatum nihil perspiciatis sint,
				aperiam consequuntur nisi quidem quo iusto dicta quas? Rem, debitis deleniti incidunt eius officia
				tempore, porro atque asperiores nostrum architecto molestias quos vel doloremque ducimus animi quidem
				sit soluta optio quasi magnam maiores? Sequi a corporis dolore optio. Minima, molestiae ratione? Optio
				quas magni ducimus facere soluta?
			</article>
			<div class="line black"></div>
			<h5>Tips</h5>
			<ul class="tips">
				<li>Tip #1 <a>Read more</a></li>
				<li>Tip #2 <a>Read more</a></li>
				<li>Tip #3 <a>Read more</a></li>
			</ul>
		</aside>
	</main>
	<footer>
		<nav><global-nav></global-nav></nav>
	</footer>
</body>

</html>