.flex-3col {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	padding: 1rem 5%;
}
.flex-3col :nth-child(1){flex: 1 15rem;}
.flex-3col :nth-child(2){flex: 3 40rem;}
.flex-3col :nth-child(3){flex: 1 15rem;}
.sidebar {
	background-color: #eee;
	padding: 1rem;
	border-radius: 30px;
	height: fit-content;
	max-width: fit-content;
}
aside ul{
	margin-top: 0.5rem;
	padding-left: 1rem;
}
aside li{
	margin-top: 0.5rem;
}
aside li::marker{
	color: var(--accent);
}
.sidebar .due-soon li {
	border-radius: 5px;
	padding: 0.3rem;
	margin: 0.2rem;
}
aside .tips  {
	position: relative;
}
aside .tips a {
	position: absolute;
	right: 0;
	color: var(--accent);
}
.side-articles {
	background-color: #eee;
	padding: 0.5rem;
	border-radius: 15px;
	height: fit-content;
}
.side-articles article{
	max-height: 40vh;
	overflow-y: scroll;
	text-overflow: ellipsis;
	margin: 0.5rem 0;
	background-color: var(--secondary_fade);
	border-radius: 30px;
	padding: 1rem;
}
.side-articles article h3{
	margin-bottom: 0.5rem;
}
.course-form course-select {
	width: 100%;
	max-height: 6ch;
	overflow: hidden;
	display: grid;
	grid-template-columns: 10rem calc(11rem + 6ch);
	gap: 0.5rem;
}
.course-form course-select select {
	width: 100%;
	margin: 1px;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 7rem);
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 40rem) {
	.card-container {
		display: flex;
		flex-flow: row wrap;
	}
	.card {
		max-width: 14rem;
		min-width: 14rem;
	}
}
.card {
	background-color: white;
	aspect-ratio: 10/16;
	border-radius: 15px;
}
.inactive:not(:first-child) {
	color: black;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 1rem var(--fade1);
	backdrop-filter: blur(5px);
}
.inactive:first-child {
	background: linear-gradient(45deg, var(--primary), var(--accent));
	border: 1px solid var(--primary);
	color: white;
}
.inactive i {
	font-size: 5rem;
}
.card-container :first-child.inactive {
	animation: hop 1s ease-out infinite;
}
@keyframes hop {
	50% {
		transform: translateY(-0.5rem);
	}
	100% {
		transform: translateY(0);
	}
}
.raise {
	transition: transform 0.3s ease-out,
				box-shadow 0.3s ease;
	z-index: 1;
}
.raise:not(:first-child.inactive):hover {
	z-index: 100;
	transform: translateY(-0.5rem);
}
.inactive.raise:hover {
	box-shadow: 0 15px 30px var(--fade2);
}
course-card.visible .header .code {
	opacity: 0;
}
course-card.visible .header .name {
	opacity: 1;
}
course-card:hover .header .code {
	opacity: 0;
}
course-card:hover .header .name {
	opacity: 1;
}
course-card:hover .header .tooltip {
	opacity: 1;
}