.flex-3col {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	padding: 1rem 5%;
	& :nth-child(1){flex: 1 15rem;}
	& :nth-child(2){flex: 3 40rem;}
	& :nth-child(3){flex: 1 15rem;}
}
.sidebar {
	background-color: #eee;
	padding: 1rem;
	border-radius: 30px;
	height: fit-content;
	max-width: fit-content;
	& ul{
		margin-top: 0.5rem;
		padding-left: 1rem;
	}
	& li::marker{color: var(--accent);}
}
.side-articles article{
	background-color: var(--secondary_fade);
	border-radius: 30px;
	padding: 1rem;
	& h3{
		margin-bottom: 0.5rem;
	}
}
.card-container {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, 7rem); */
	justify-content: center;
}
@media screen and (max-width: 48rem) {
	.card-container {
		display: flex;
		flex-flow: row wrap;
	}
	course-card {
		max-width: 14rem;
		min-width: 14rem;
	}
}
course-card {
	background-color: white;
	aspect-ratio: 10/16;
	border: 1px solid #ddd;
	border-radius: 15px;
	overflow: hidden;
}
course-card .header {
	width: 100%; 
	height: 30%;
	text-align: center;
	display: flex;
	& .code {
		font-family: monospace;
		writing-mode: vertical-rl;
		flex: 0;
	}
	& .remove {
		transition: opacity 0.2s ease;
		background-color: var(--fade2);
		border-radius: 0 0 0 10px;
		padding: 0.5rem;
		opacity: 0;
		flex: 0;
		height: fit-content;
	}
}
course-card:hover .header .remove {
	opacity: 1;
}
course-card .assignment-list {
	overflow-y: auto;
	height: 70%;
	list-style: none;
}
.assignment-list .assignment {
	display: flex;
	padding: 0.5rem;
	gap: 0.5rem;
	border-radius: 15px;
	overflow: hidden;
	& > * {
		text-align: center;
		border-bottom: 1px solid #333;
	}
	& .name {flex: 1;}
	& .percent {flex: 0;}
	& .due {
		flex: 0;
		white-space: nowrap;
	}
}
.inactive   {opacity: 0.5;}
.inactive * {
	pointer-events: none;
	display: none;
}
.raise {
	transition: transform 0.3s ease-out,
				box-shadow 0.3s ease;
}
.raise:hover {
	z-index: 100;
	transform: translateY(-1rem);
	box-shadow: 0 15px 30px gray;
}